*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    height: 20vh;
    background-image: linear-gradient(90deg,#f0027f,#75489f);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h1{
        width: 0ch;
overflow: hidden;
font-size: 60px;
border-right: 3px solid red;
white-space: nowrap;
animation: text 6s steps(7) infinite;
color: white;
font-family: 'Galada', cursive;
}
@keyframes text{
0%{
    width: 0ch;
}
50%{
    width: 7ch;
}
}

.wave{
    position: relative;
    height: 10vh;
background-image: linear-gradient(90deg,#f0027f,#75489f);

}

.wave:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 135px;
    background: url(wav.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
}

.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
background: #383838;
}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-slide{

width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}

.container{
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{
        display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    }

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid grey;
  background: linear-gradient(45deg,#ff0057,#e64a19);
border-radius: 50px;
color: white;
margin: 0 9px;
font-size: 2em;
font-weight: 250; 
font-family: 'Vast Shadow', cursive;
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
border: 2px solid #ffc107;
background: linear-gradient(135deg,#ff0000,#ffc107);
border-radius: 50px;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.colr{
    background-image: linear-gradient(#f0027f,#75489f,white);
}

.swar{
    text-align: center;
    left: 0;
    right: 0;
    color: white;
    }
.swar h2{
    margin-bottom: 5px;
    background-image: linear-gradient(70deg, #f0027f, #F04EA3,#f0027f);
    color: #fff;
}
.subh{
    margin-bottom: 30px;
    color:  #ffc107;
    line-height: 30px;
}
.subh button{
    width: 100px;
    height: 27px;
    border: none;
    border-radius: 5px 5px 45px 45px;
    background-image: linear-gradient(170deg, #89ff00,#00bcd4);
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.subh .prit{
    width: 100px;
    height: 27px;
    border: none;
    border-radius: 0px 45px 0px 45px;
    background-image: linear-gradient(270deg,#00bcd4, #89ff00);
}
.subh .stha{
    width: 100px;
    height: 27px;
    border: none;
    border-radius: 45px 0px 45px 0px;
    background-image: linear-gradient(360deg,#89ff00, #00bcd4) ;
}
.topt{
    background-image: linear-gradient(#AD2890,#581137,#581137,#581137,#581137,#581137,#581137);
    color:white;
}
.proja{
   text-align: center;
    left: 0;
    right: 0; 
    margin-bottom: 30px;
    margin-top: 30px;
    background-image: linear-gradient(270deg, #f0027f,#7F5E9F);
    color: white;
}
#fontcss{
    margin-left: 10px;
    color: #ffc107;
}
.mus{
    width: 100%;
}
.mus img{
    width: 100%;
    
}
.bih{
    text-align: justify;
    text-indent: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    color: #ffc107;
}
.nibe{
    text-align: right;
    margin-right: 10px;
    color: #ffc107;
}
.pal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.pal img{
    width: 100%;
    border: 0.10px solid #581137;
}
footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
    
    }

  footer p{
      text-align: center;
      padding: 10px;
      
  }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;
              
      }